// Place all the styles related to the considerations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.considerations { 
	.entry {
		h5 {
			width:2000px;
			margin-bottom:5px;
		}

		img {
			height:180px;
			width:180px;
		}
	}
}