// Place all the styles related to the Adoption controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.animals {
	h1 {
		margin:0px;
		padding-bottom:0.5em;
		font:150% sans-serif;
		color:#494949;
		border-bottom:3px dotted #494949;
	}

	.entry {
		overflow:auto;
		margin-top:1em;
		border-bottom:1px dotted #77d;
		min-height:100px;

		img {
			width:100px;
			height:100px;
			margin-right:5px;
			margin-bottom:5px;
			position:absolute;
			cursor:pointer;
		}

		h3 {
			margin-left:110px;
			font-size:120%;
			color:#084E5A;
		}

		h5 {
			margin-left:110px;
			margin-bottom:5px;
			font-size:100%;
			font-weight:normal;
			color:#000;
		}

		div.action {
			margin-left:110px;
			margin-top:0.5em;
			margin-bottom:0.5em;
		}

		form, form div {
			display:inline;
		}
	}
}