// Place all the styles related to the Pets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pets {
	h1 {
		color:#494949;
	}

	table {
		width:100%;
		border-collapse:collapse;
	}

	table tr td {
		padding:5px;
		vertical-align:top;
	}

	.list_image {
		width:128px;
		height:140px;
	}

	.list_actions {
		text-align:right;
		padding-left:1em;
		vertical-align:middle;
	}

	.list_line_even {
		background:#A5EDF9;
	}

	.list_line_odd {
		background:#409DAE;
	}
	
	th{
		text-align:left;
		font-size:150%;
	}
	
	td{
		font-size:110%;
	}
}
