// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.items{
	//padding
	padding:16px;
	
	//coloring and border
	background-color:#A1C1DA;
	border:2px #1B4657 solid;
	
	//text
	color:#1B4657;
	
	//labels
	label{
		font-size:110%;
	}
	
	//forms
	input,textarea{
		border: 1px rgba(25,25,52,0.5) solid;
		border-radius:4px;
		margin-top:4px;
		margin-bottom:8px;
	}
	input{
		height:32px;
		width:300px;
		padding:2px;
	}
	textarea{
		padding:4px;
		width:300px;
		height:150px;
	}
	//headers
	h1{
		width:100%;
		border:2px rgba(25,25,25,0.2) solid;
		padding:16px 0px;
		text-align:center;
		background-color:rgba(25,25,25,0.1)
	}
}

.items.index {
	//table
	table{
		border:2px black ridge;
		width:100%;
		td,th{
			border:none;
			padding:8px;
		}
		th{
			font-size:110%;
		}
		tr {
			background-color:rgba(240,240,240,0.5);
		}
		img {
			height:100px;
			width:100px;
		}
	}
}

.items.show {
	img {
		height:200px;
		width:200px;
	}
}
