// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.items{
	//margins
	margin-left:25%;
	margin-right:25%;
	//padding
	padding:16px;
	
	//coloring and border
	background-color:rgb(180,180,250);
	border:2px rgba(25,25,52,0.1) solid;
	
	//text
	color:#335;
	
	//forms
	input,textarea{
		height:32px;
		width:300px;
		border: 1px rgba(25,25,52,0.5) solid;
		border-radius:4px;
	}
	//headers
	h1{
		width:256px;
		border:8px rgba(25,25,52,0.3) solid;
		padding:16px;
		text-align:center;
		background-color:rgba(25,25,52,0.2)
	}
}
