<!--<h2 class="consideration_title">Your Pet Considerations</h2>-->
<ul class="consideration_content">
	<li><b>Your Considerations</b></li>
	<%= render(consideration.considered_items) %>
</ul>

<%= button_to 'Remove Considerations', consideration, method: :delete, confirm: 'Are you sure?' %>